<div class="flex gap-5 justify-center">
  <div class="max-h-[80vh] overflow-y-auto w-fit border border-solid border-gray-300">
    <table #table class="text-sm text-center m-auto">
      <thead class="bg-blue-900 sticky top-0 text-gray-100">
      <tr class="border-b border-b-gray-300">
        <th class="p-2">#</th>
        <th class="p-2 text-left">Nom</th>
        <th class="p-2 text-left">Sous-catégorie</th>
        <th class="p-2">Carton jaunes</th>
        <th class="p-2">Date de fin</th>
      </tr>
      </thead>
      <tbody>
        @for (raw of yellowCardsData(); track raw.player) {
          <tr class="hover:bg-blue-50 transition-colors duration-150 even:bg-gray-50">
            <td class="p-2">{{ $index + 1 }}</td>
            <td class="p-2 text-left font-medium">{{ raw.player }}</td>
            <td class="p-2 text-left">{{ raw.subcategory }}</td>
            <td class="p-2">{{ raw.number }}</td>
            <td class="p-2">
              @for (endDate of raw.endDates; track endDate) {
                <span class="block p-1">{{ endDate | date:'dd/MM/yyyy' }} {{ '\n' }}</span>
              }
            </td>
          </tr>
        }
        @if (yellowCardsData().length === 0) {
          <tr>
            <td colspan="5" class="p-4 text-center text-gray-500 italic">
              Aucun carton jaune actif
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <div>
    <button
      class="bg-blue-900 hover:bg-blue-950 hover:cursor-pointer text-white font-medium px-5 py-2 rounded-lg shadow-md disabled:bg-gray-200 disabled:text-gray-400 disabled:cursor-not-allowed"
      (click)="generatePdf(tables, 'cartons-jaunes-actifs', pdfTitle, undefined, columnStyles)"
    >
      Exporter
    </button>
  </div>
</div>
