@if (displayResult()) {
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 items-start">
    @for (cat of suspendedPlayersByCategory() | keyvalue; track cat.key) {
      @if (cat.value.size !== 0) {
        <div class="bg-white rounded-xl shadow-md p-4 ">
          <h2 class="text-lg text-center font-semibold mb-4 text-blue-600 border-b pb-2">
            Catégorie : {{ cat.key.replace('Libre /', '') }}
          </h2>

          <div class="overflow-x-auto">
            <table class="w-full border border-solid border-gray-300 border-collapse border-spacing-0 text-sm rounded-md">
              <thead class="bg-gray-100 text-left">
              <tr class="border-b border-b-gray-300">
                <th class="p-2 text-gray-800">#</th>
                <th class="p-2 text-gray-800">Nom</th>
                <th class="p-2 text-gray-800">Équipes</th>
              </tr>
              </thead>
              @for (raw of cat.value | keyvalue; track raw.key) {
                <tr class="hover:bg-gray-50" [ngClass]="{'border-b border-gray-300': $index !== cat.value.size - 1}">
                  <td class="p-2">{{ $index + 1 }}</td>
                  <td class="p-2 font-medium">{{ raw.key}}</td>
                  <td class="p-2">
                    @for (teamSuspension of raw.value; track teamSuspension.name) {
                      <div class="mb-1">
                        <span class="text-gray-700">{{ teamSuspension.name }}</span>
                        <span class="ml-2 text-sm text-gray-500">
                          <span class="font-semibold text-blue-600">{{ teamSuspension.remaining }}</span>
                          {{ teamSuspension.remaining > 1 ? 'matchs restants' : 'match restant' }}
                        </span>
                        <br>
                      </div>
                    }
                  </td>
                </tr>
              }
            </table>
          </div>
        </div>
      }
    }
  </div>
}
@else if (hasProcess() && process()) {
  <div class="flex flex-col items-center">
    <span>Aucun résultat</span>
  </div>
}
